  <select name="subreddit">
    <option value="" selected="selected">Pick a subreddit source</option>
    <option value="r/reactiongifs">r/reactiongifs</option>
    <option value="r/aww">r/aww</option>
    <option value="r/aww">r/gifs</option>
    <option value="r/aww">r/animalsbeingderps</option>
  </select>
