<div class="container">
  <h3> GifRoulette!</h3>

  <p><strong><%= link_to 'Spin again!', roulette_page_path %></strong></p>

  <img src="<%= @links_list.sample %>" class="img-rounded" width=400px>


</div>
