<h2>Edit</h2>

<div class="container">
<%= render 'form' %>
</div>


<p>
<%= link_to 'Delete this', method: :delete, data: {confirm: 'Are you sure?'} %>
</p>


<p>
<%= button_to "delete", @picture, method: :delete %>
</p>
