<div class="container">
<h2 class="text-center">GifWallet! allows you to collect cool gifs from across the internets and save their links for easy access to posting in forums.</h2>

<br />

  <ul>
      <% @pictures.each do |picture| %>
        <img src="<% picture.url %>">
          <li class="img-thumbnail thumbnail-caption">
            <a href="<%= picture_path(picture.id) %>"><img class= "thumbs-lib" src="<%= picture.url %>"></a><br />
            by: <%= link_to picture.user.name, user_path(picture.user) %>
          </li>
      <% end %>
  </ul>

</div>


