<div class="container">
<h3>GifWallet allows you to collect cool images from across the web and easily refer back to them in forums and texts</h3>

<p>
  Irony chillwave you probably haven't heard of them, master cleanse paleo pickled Truffaut small batch McSweeney's photo booth. Health goth tilde Bushwick taxidermy Pinterest. Hella Echo Park Thundercats Godard roof party flannel, fanny pack meh photo booth sustainable tofu.
</p>

  <ul>
      <% @pictures.each do |picture| %>
        <img src="<% picture.url %>">
          <li class="img-thumbnail thumbnail-caption">
            <a href="<%= picture_path(picture.id) %>"><img class= "thumbs-lib" src="<%= picture.url %>"></a><br />
            by: <%= link_to picture.user.name, user_path(picture.user) %>
          </li>
      <% end %>
  </ul>

</div>


