<div>
  <h3>library of all gifs</h3>
</div>

<p>
<%= link_to "Add a new gif", new_picture_path %>
</p>

  <ul>
      <% @pictures.each do |picture| %>
        <% image = "<img src=\"#{picture.url}\">" %>
          <li class="img-thumbnail">
            <a href="<%= picture_path(picture.user.id) %>"><img src="<%= picture.url %>" width= 100px></a><br />
            by: <%= picture.user.name %>
          </li>
      <% end %>
  </ul>



