
<p><img src="<%= @picture.url %>"></p>

<p> URL: <%= link_to @picture.url, @picture.url %></p>

<p> GFYCAT: <%= link_to 'gfycat', @picture.url %></p>

<p>save to cutecache</p>
<p>tags</p>


<%= link_to "back to library", pictures_path %>

