*{

}

nav {
  padding: 5px;
}

body {
  font-family: Georgia, Times, serif;
  padding: 5px;
  background:#FAFAFA;
}


td {
    word-wrap:break-word;
}

.thumbnail-caption {
  font-size: 10px;
}

.thumbs-lib {
  width: 100px;
}
