

*{

}

body {
  padding: 5px;
  background-image: url("ps_neutral.png");
}


nav {
  padding: 5px;
}




td {
  word-wrap:break-word;
}

.thumbnail-caption {
  font-size: 10px;
}

.thumbs-lib {
  width: 100px;
}
